div(id='main_holder',class='main_holder')
	top-div(class='center')
		left-div(id='start_bt' class='center')|Start
		right-div(class='center')
			|notifications <switsh-bt translate_to='31' id='notifications_bt'></switsh-bt>
	bottom-div
		top-div(class='center' id='alerts_holder')
		bottom-div