link(rel="stylesheet", href="styles/allert_holder.css")
link(rel="stylesheet", href="styles/main_layout.css")
link(rel="stylesheet", href="styles/info_line.css")
link(rel="stylesheet", href="styles/globel.css")